html {
    height: 100%;

    --var-bg-color: #333;
    --var-bg-light-color: #444;
    --var-fg-color: white;

    --var-friendly-color: teal;
    --var-enemy-color: red;

    --var-health-color: #a44;
    --var-shield-color: #a9a9a9;

}
body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: var(--var-bg-color);
    color: var(--var-fg-color);
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game > h1 {
    text-align: center;
    margin-bottom: 2rem;
}

@media (min-width: 40rem) {
    .card-container,
    .character-container
    {
        display: flex;
        gap: 50px;
        flex-direction: row;
        justify-content: space-around;
    }
}

.roll-container {
    margin: auto;
}

.die {
    display: inline-block;
    margin: 10px;
    height: 2rem;
    width: 2rem;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
}

.die.small {
    height: 1.4rem;
    width: 1.4rem;
    margin: 5px;
    padding-top: 0;
}

.die.success {
    border: 1px solid var(--var-friendly-color)
}

.die.fail {
    border: 1px solid var(--var-enemy-color)
}

.card {
    flex-grow: 1;
    text-align: center;
    padding: 0 1rem 1rem 1rem;
    margin-bottom: 1.5rem;
}

.card.enemy {
    cursor: pointer;
    border: 1px solid var(--var-enemy-color);
}

.card.friendly {
    cursor: pointer;
    border: 1px solid var(--var-friendly-color);
}

.card:hover {
    filter: brightness(110%);
    background-color: var(--var-bg-light-color);
}

.card h2,
.character h2
{
    margin-bottom: 0;
}

.card > .dice-container {
    margin-top: 1rem;
    min-height: 2rem;
}

.card .card-type {
    margin-bottom: 1rem;
}

.character {
    flex-grow: 1;
    text-align: center;
    padding: 0 1rem 1rem 1rem;
    margin-top: 2rem;
    border: 1px solid var(--var-friendly-color);
}

div.character-items {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

div.character-items > div {
    text-align: left;
    border: 1px solid var(--var-friendly-color);
    padding: 1rem;
}

div.character-items > div.character-item {
    cursor: pointer
}

div.character-items > div.character-item:hover {
    background-color: var(--var-bg-light-color);
}

ul.attribute-list {
   list-style: none;
    padding: 0;
    margin: 0;
}

.card.enemy ul.attribute-list {
    margin-top: 1rem;
}

.health-bar {
    color: var(--var-health-color)
}

.health-bar .empty {
    filter: brightness(80%);
}

.shield-bar {
    color: var(--var-shield-color)
}
